@tape-width: 121px;
@tape-height: 400px;
@left-offset: 100px;

.animation-play-state (@state) {
  -webkit-animation-play-state: @state;
  animation-play-state: @state;
}

.animation-iteration-count (@count) {
  -webkit-animation-iteration-count: @count;
  animation-iteration-count: @count;
}

.animation-timing-function (@timing) {
  -webkit-animation-timing-function: @timing;
  animation-timing-function: @timing;
}

#container {
  padding-left: @left-offset;
  background: url("../img/bg.jpg") #fff no-repeat top left;
  height: @tape-height;
  overflow: hidden;
  position: relative;
}
.tape {
  margin-right: 20px;
  display: inline-block;
  height: @tape-height;
  width: @tape-width;
  background-position: 0 0;
  background-repeat: repeat-y;
  .animation-iteration-count(infinite);
  .animation-timing-function(linear);
  .animation-play-state(inherit);
}
.title,
.spanning-title {
  color: #fff;
  background-color: #008B8B;
  padding: 2px;
}
.spanning-title {
  margin-bottom: 2px;
}
#photocells,
#score {
  top: 180px;
  left: (@left-offset + 2.5 * @tape-width + 2 * 20);
  position: absolute;
  text-align: center;
}
#photocells {
  top: 20px;
  left: (@left-offset + 2 * @tape-width + 2 * 20);
}
#score {
  width: @tape-width;
  .value {
    font-size: 18px;
    background-color: beige;
  }
}
.photocell {
  width: @tape-width;
  display: inline-block;
  .line {
    font-family: monospace;
    font-size: 24px;
    background-color: beige;
  }
}
.paused {
  .animation-play-state(paused);
}
.running {
  .animation-play-state(running);
}
canvas {
  margin-left:-400px;
  position: absolute;
}
.btn {
  margin-right: 8px;
  width: 8em;
}
#counters, #counter-labels, #controls {
  background-color: #ddd;
}
#counters {
  border-bottom: 1px solid #aaa;
  div {
    font-size: 18px;
    background-color: beige;
  }
}
#counter-labels {
  border-top: 1px solid #aaa;
  color: #fff;
  div {
    background-color: #008B8B;
    padding: 2px;
  }
  .loops {
    width: (@tape-width * 2 + 20);
  }
}
#counters, #counter-labels {
  padding-left: @left-offset;
  div {
    width: @tape-width;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
}
#controls {
  padding: 8px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}