@tape-width: 121px;
@double-tape-width: (2 * @tape-width + 20);
@tape-height: 400px;

// Mixins

.center {
  margin-left: auto;
  margin-right: auto;
}

.heading {
  color: #fff;
  background-color: #008B8B;
  padding: 2px;
}

.value {
  background-color: beige;
  font-size: 18px;
}

.tape-width {
  display: inline-block;
  width: @tape-width;
}

.monospace {
  font-family: 'Droid Sans Mono', monospace;
}


// Main structural elements

h1 {
  padding: 4px 20px 4px 0;
  margin: 0;
}

#controls {
  text-align: center;
  padding: 8px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

#headers {
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  #tape-headers {
    margin: 0 auto;
    width: (2 * @tape-width + 20);
  }
  .tape-header {
    width: @tape-width;
    display: inline-block;
    text-align: center;
    background-color: beige;
  }
  h2 {
    color: #fff;
    background-color: #008b8b;
    padding: 2px;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }
}

#headers, #controls {
  background-color: #ddd;
}

#machine {
  background: url("../img/bg.jpg") #fff;
  background-repeat: no-repeat;
  background-size: 1170px 400px;
  -webkit-background-size: 1170px 400px;
  background-position: top left;
  position: relative;
  h2 {
    display: block;
    margin: 0 0 2px 0;
    width: 100%;
    color: #fff;
    background-color: #008b8b;
    padding: 2px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
  }
  th {
    text-align: center;
    color: #fff;
    font-weight: normal;
    background-color: #008b8b;
    padding: 4px;
    &.bits {
      .monospace;
      font-size: 12px;
      text-align: justify;
      padding: 2px 6px 0 6px;
      // A single line will not normally justify so we can fake a following line
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }
  td {
    padding: 8px;
    background-color: beige;
    font-size: 16px;
    .monospace;
  }
  td, th {
    line-height: 1;
  }
}

canvas {                  // off-screen, for constructing tape images
  margin-left:-400px;
  position: absolute;
}

// Structural sub-elements

#bedstead {
  background: url("../img/photocells.png") no-repeat 0 141px;
  height: @tape-height;
  width: (2 * @tape-width + 20);
  overflow: hidden;
  margin: 0 auto;
}

#printer {
  margin: 20px auto 0 auto;
  width: 180px;
  .output {
    height: 250px;
    background-color: #eee;
    overflow-y: auto;
  }
  h3, pre {
    display: inline-block;
    text-align: right;
    width: 50%;
    .monospace;
    padding: 0 24px 0 0;
    font-size: 13px;
  }
  h3 {
    font-weight: bold;
    margin: 12px 0 4px 0;
  }
  pre {
    background-color: inherit;
    border: none;
    margin: 0;
  }
}


// Other elements

.tape {
  height: @tape-height;
  width: @tape-width;
  background-position: 0 180px;
  background-repeat: repeat-y;
  display: inline-block;
  .animation-iteration-count(infinite);
  .animation-timing-function(linear);
  .animation-play-state(inherit);
}

#photocells {
  display: inline-block;
  margin: 20px auto 0 auto;
  table {
    display: inline-block;
  }
  th {
    &.symbol {
      color: #000;
      background-color: beige;
    }
    &.bits {
      .monospace;
      font-size: 12px;
      text-align: justify;
      padding: 2px 6px 0 6px;
      color: #000;
      background-color: beige;
      border-top: 1px solid #aaa;
      // A single line will not normally justify so we can fake a following line
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }
  td.char {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
}

#function {
  display: inline-block;
  width: 180px;
  margin: 20px auto 0 auto;
  h2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  p {
    .monospace;
    background-color: beige;
    font-size: 16px;
    line-height: 2;
  }
}

#score {
  margin: 20px auto 0 auto;
  width: 180px;
  text-align: center;
}

.counter {
  .value;
  display: inline-block;
  width: @tape-width;
  text-align: center;
  .monospace;
}

.btn {
  margin-right: 8px;
  width: 8em;
}


// Animation styles

.animation-play-state (@state) {
  -webkit-animation-play-state: @state;
  animation-play-state: @state;
}

.animation-iteration-count (@count) {
  -webkit-animation-iteration-count: @count;
  animation-iteration-count: @count;
}

.animation-timing-function (@timing) {
  -webkit-animation-timing-function: @timing;
  animation-timing-function: @timing;
}

.paused {
  .animation-play-state(paused);
}

.running {
  .animation-play-state(running);
}

// Explantory text styles

#documentation {
  p {
    text-align: justify;
  }
}

.illustration {
  float: right;
  margin-left: 40px;
  margin-bottom: 20px
}

.ita2 td:first-child {
  .monospace;
  letter-spacing: 0.7em;
}

.xor {
  .monospace;
  text-align: center;
  width: auto;
  display: inline-block;
}

.vernam {
  td {
    .monospace;
    text-align: center;
    letter-spacing: 0.7em;
  }
  th {
    vertical-align: middle;
  }
  .borderless {
    td, th {
      border: none;
    }
  }
}