<!doctype html>
<html lang="en" ng-app="heathRobinson" ng-controller="machine">
  <head>
    <meta charset="utf-8">
    <title>Heath Robinson Simulator</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css?1">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <style type="text/css" data-ng-bind="keyframes"></style>
    <style type="text/css" data-ng-bind="duration"></style>
    <style type="text/css" data-ng-bind="animationName"></style>
  </head>
  <body>

    <div class="container">
      <div class="row">

          <h1>
            <img src="img/title.png" alt="Stack Overflow" title="Heath Robinson" />
          </h1>

      </div>
    </div>

    <div class="container" style="border-left:1px solid #aaa;border-right:1px solid #aaa">
      <div id="headers" class="row">

        <div class="col-xs-4">
          <div id="tape-headers">
            <div class="tape-header" style="margin-right: 20px">
              <h2>Ciphertext</h2>
              <span>Length: {{tape1.len}}</span>
            </div>
            <div class="tape-header">
              <h2>Partial Key</h2>
              <span>Length: {{tape2.len}}</span>
            </div>
          </div>
        </div>

      </div>

      <div id="machine" class="row">

        <div class="col-xs-4">
          <div id="bedstead" data-bedstead>
            <div id="tape1" class="tape" data-tape data-ttydata="tape1.sequence"
                 data-loop-counter="tape1.loopCounter"
                 data-reset="tapeReset" data-tape-object="tape1"></div>
            <div id="tape2" class="tape" data-tape data-ttydata="tape2.sequence"
                 data-loop-counter="tape2.loopCounter"
                 data-reset="tapeReset" data-tape-object="tape2" style="margin-left: 20px"></div>
          </div>
        </div>

        <div class="col-xs-4" style="text-align: center">

          <div id="photocells">
            <h2>Photocell Output</h2>
            <div data-photocell data-title="Ciphertext" data-symbol="Z" data-ttydata="tape1.sequence" data-position="tape1.position" data-style="margin-right: 10px"></div>
            <div data-photocell data-title="Partial Key"  data-symbol="K" data-ttydata="tape2.sequence" data-position="tape2.position"></div>
          </div>

          <div id="function">
            <h2>Logic Output</h2>
            <p>&#x394;Z<sub>1</sub> &#x2295; &#x394;Z<sub>2</sub><br>&#x2295;<br>&#x394;K<sub>1</sub> &#x2295; &#x394;K<sub>2</sub><br>= {{logicOutput}}</p>
          </div>

        </div>

        <div class="col-xs-4">

          <table id="score">
            <thead>
              <tr>
                <th>Loop</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-ng-bind="tape2.loopCounter | zeropad"></td>
                <td score></td>
              </tr>
            </tbody>
          </table>

          <div id="printer">
            <h2>Printer Output</h2>
            <div class="output">
              <h3>Loop</h3><h3>Score</h3>
              <pre>{{printout.loop}}</pre><pre>{{printout.score}}</pre>
            </div>
          </div>
        </div>

      </div>
      <div id="controls" class="row">
        <div class="col-md-12">
          <form class="form-inline" role="form">
            <button class="btn btn-primary" ng-click="resetTapes()">
              <span class="glyphicon glyphicon-repeat"></span>
              Reset</button><button class="btn btn-primary" ng-click="togglePlaystate()">
              <span ng-class="{'glyphicon': true, 'glyphicon-stop': !enablePlay, 'glyphicon-play': enablePlay}"></span>
              <span ng-if="!enablePlay">Stop</span>
              <span ng-if="enablePlay">Start</span>
            </button>
            <div class="form-group">
              <label class="sr-only" for="tapeSpeed">Tape Speed</label>
              <select id="tapeSpeed" class="form-control" ng-model="tapeSpeed" ng-options="s.description for s in speeds"></select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>References</h2>
          <ol>
            <li>
              <p>Brian Randell, <a href="http://www.cs.ncl.ac.uk/publications/books/papers/133.pdf">The Colossus</a>, in A History of Computing in the Twentieth Century (N. Metropolis, J. Howlett and G. C. Rota, Eds.), pp.47-92, Academic Press, New York, 1980.</p>
            </li>
            <li>
              <p>Jack Good, Donald Michie, Geoffrey Timms, <a href="http://www.alanturing.net/turing_archive/archive/index/tunnyreportindex.html">General Report on Tunny with Emphasis on Statistical Methods</a>, 1945.</p>
            </li>
            <li>
              <p>Tony Sale, <a href="http://www.codesandciphers.org.uk/virtualbp/hrob/hrrbld.pdf">The rebuilding of Heath Robinson</a>, 2001.</p>
            </li>
            <li>
              <p>Frank Carter, <a href="http://www.bletchleypark.org/shop/p.rhtm/139874/561513-Codebreaking_with_the_Colossus_Computer_By_Frank_Carter.html">Codebreaking with the Colossus Computer (Report No. 1)</a>, Bletchley Park Trust, Bletchley Park, 2008.</p>
            </li>
            <li>
              <p>B. Jack Copeland, and others, <a href="http://ukcatalogue.oup.com/product/9780199578146.do">Colossus: The Secrets of Bletchley Park's Code-Breaking Computers</a>, pp.47-92, Oxford University Press, Oxford and New York, 2006.</p>
            </li>
            <li>
              <p>I.J. Good &amp; Donald Michie in conversation with David Kahn &amp; Karen Frenkel, <a href="http://www.youtube.com/watch?v=6p3mhkNgRXs">From Codebreaking to Computing: Remberances of Bletchley Park 50 Years Later</a> (video), Computer History Museum, 1992.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
