<!doctype html>
<html lang="en" ng-app="heathRobinson" ng-controller="machine">
  <head>
    <meta charset="utf-8">
    <title>Heath Robinson Simulator</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <style type="text/css" data-ng-bind="keyframes"></style>
    <style type="text/css" data-ng-bind="durations"></style>
    <style type="text/css" data-ng-bind="animationNames"></style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <h1>Heath Robinson</h1>
      </div>
    </div>
    <div id="counters" class="row">
      <div class="counter" data-ng-bind="tape1.counter | zeropad"></div>
      <div class="counter" data-ng-bind="tape2.counter | zeropad"></div>
    </div>
    <div class="row">
      <div id="container" ng-class="{paused: !tapeRunning, running: tapeRunning}">
        <div id="tape1" class="tape" data-tape data-ttydata="tape1.sequence"></div>
        <div id="tape2" class="tape" data-tape data-ttydata="tape2.sequence"></div>
      </div>
    </div>
    <div id="controls" class="row">
      <div class="col-md-12">
        <form class="form-inline" role="form">
          <button class="btn btn-primary" ng-click="resetTapes()">
            <span class="glyphicon glyphicon-repeat"></span>
            Reset</button><button class="btn btn-primary" ng-click="togglePlaystate()">
            <span ng-class="{'glyphicon': true, 'glyphicon-pause': tapeRunning, 'glyphicon-play': !tapeRunning}"></span>
            <span ng-if="tapeRunning">Pause</span>
            <span ng-if="!tapeRunning">Play</span>
          </button>
          <div class="form-group">
            <label class="sr-only" for="tapeSpeed">Tape Speed</label>
            <select id="tapeSpeed" class="form-control" ng-model="tapeSpeed" ng-options="s.description for s in speeds"></select>
          </div>
        </form>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
