<!doctype html>
<html lang="en" ng-app="heathRobinson" ng-controller="machine">
  <head>
    <meta charset="utf-8">
    <title>Heath Robinson Simulator</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css?1">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <style type="text/css" data-ng-bind="keyframes"></style>
    <style type="text/css" data-ng-bind="duration"></style>
    <style type="text/css" data-ng-bind="animationName"></style>
  </head>
  <body>

    <div class="container">
      <div class="row">

          <h1>
            <img src="img/title.png" alt="Heath Robinson" title="Heath Robinson" />
          </h1>

      </div>
    </div>

    <div class="container" style="border-left:1px solid #aaa;border-right:1px solid #aaa">
      <div id="headers" class="row">

        <div class="col-xs-5">
          <div id="tape-headers">
            <div class="tape-header" style="margin-right: 15px">
              <h2>Ciphertext</h2>
              <span>Length: {{tape1.len}}</span>
            </div>
            <div class="tape-header">
              <h2>Partial Key</h2>
              <span>Length: {{tape2.len}}</span>
            </div>
          </div>
        </div>

      </div>

      <div id="machine" class="row">

        <div class="col-xs-5">
          <div id="bedstead" data-bedstead>
            <div id="tape1" class="tape" data-tape data-ttydata="tape1.sequence"
                 data-loop-counter="tape1.loopCounter"
                 data-reset="tapeReset" data-tape-object="tape1"></div>
            <div id="tape2" class="tape" data-tape data-ttydata="tape2.sequence"
                 data-loop-counter="tape2.loopCounter"
                 data-reset="tapeReset" data-tape-object="tape2" style="margin-left: 15px"></div>
          </div>
        </div>

        <div class="col-xs-7">
          <div class="row">

            <div class="col-xs-6" style="text-align: center">

              <table id="photocells">
                <thead>
                  <tr>
                    <th colspan="3">Photocell Output</th>
                  </tr>
                  <tr>
                    <th colspan="3" class="separator"></th>
                  </tr>
                  <tr>
                    <th>Ciphertext (Z)</th>
                    <th class="separator"></th>
                    <th>Partial Key (K)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-photocell data-ttydata="tape1.sequence" data-position="tape1.position"></td>
                    <td class="separator"></td>
                    <td data-photocell data-ttydata="tape2.sequence" data-position="tape2.position"></td>
                  </tr>
                  <tr class="bits">
                    <td>z<sub>5</sub> z<sub>4</sub> z<sub>3</sub> z<sub>2</sub> z<sub>1</sub></td>
                    <td class="separator"></td>
                    <td>k<sub>5</sub> k<sub>4</sub> k<sub>3</sub> k<sub>2</sub> k<sub>1</sub></td>
                  </tr>
                </tbody>
              </table>

              <div id="function">
                <h2>Logic Output</h2>
                <p>&#x394;z<sub>1</sub> &#x2295; &#x394;z<sub>2</sub><br>&#x2295;<br>&#x394;k<sub>1</sub> &#x2295; &#x394;k<sub>2</sub><br>= {{logicOutput}}</p>
              </div>

            </div>

            <div class="col-xs-6">

              <table id="score">
                <thead>
                  <tr>
                    <th>Loop</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-ng-bind="tape2.loopCounter | zeropad"></td>
                    <td score></td>
                  </tr>
                </tbody>
              </table>

              <div id="printer">
                <h2>Printer Output</h2>
                <div class="output">
                  <h3>Loop</h3><h3>Score</h3>
                  <pre>{{printout.loop}}</pre><pre>{{printout.score}}</pre>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div id="controls" class="row">
        <div class="col-xs-12">
          <form class="form-inline" role="form">
            <button class="btn btn-primary" ng-click="resetTapes()">
              <span class="glyphicon glyphicon-repeat"></span>
              Reset</button><button class="btn btn-primary" ng-click="togglePlaystate()">
              <span ng-class="{'glyphicon': true, 'glyphicon-stop': !enablePlay, 'glyphicon-play': enablePlay}"></span>
              <span ng-if="!enablePlay">Stop</span>
              <span ng-if="enablePlay">Start</span>
            </button>
            <div class="form-group">
              <label class="sr-only" for="tapeSpeed">Tape Speed</label>
              <select id="tapeSpeed" class="form-control" ng-model="tapeSpeed" ng-options="s.description for s in speeds"></select>
            </div>
            <button class="btn btn-primary" ng-click="toggleTapeEditor()"><span ng-class="{'glyphicon': true, 'glyphicon-arrow-down': !tapeEditorActive, 'glyphicon-arrow-up': tapeEditorActive}"></span> Edit Tapes</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="tape-edit" ng-show="tapeEditorActive">
      <div class="row">
        <div class="col-md-12">
          <form role="form" name="tapeEdit" novalidate>
            <div class="form-group tape-input" ng-class="{'has-error': tapeEdit.ciphertext.$error.minlength}">
              <div class="error" ng-show="tapeEdit.ciphertext.$error.minlength">The length must be at least 20 characters</div>
              <label for="tape1" class="control-label">Ciphertext ({{tape1.copy.length || '&lt; 20'}})</label>
              <textarea name="ciphertext" rows="4" class="form-control" id="ciphertext" data-ng-model="tape1.copy" spellcheck="false" data-tape-input></textarea>
            </div>
            <div class="form-group tape-input" ng-class="{'has-error': tapeEdit.partialkey.$error.minlength}">
              <div class="error" ng-show="tapeEdit.partialkey.$error.minlength">The length must be at least 20 characters</div>
              <label for="tape2" class="control-label">Partial Key ({{tape2.copy.length}})</label>
              <textarea name="partialkey" rows="4" class="form-control" id="partialkey" data-ng-model="tape2.copy" spellcheck="false" data-tape-input></textarea>
            </div>
            <div class="form-group" style="text-align: center;">
              <button type="submit" class="btn btn-primary" ng-disabled="!tapeEdit.$valid" ng-click="updateTapes()">Update tapes</button>
            </div>
          </form>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <table class="table table-condensed teletype">
            <thead>
              <tr>
                <th colspan="12">Allowed characters</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;</td>
                <td class="char">/</td>
                <td>&#x2022;X&#x2022;&#x2022;&#x2022;</td>
                <td class="char">3</td>
                <td>X&#x2022;&#x2022;&#x2022;&#x2022;</td>
                <td class="char">T</td>
                <td>XX&#x2022;&#x2022;&#x2022;</td>
                <td class="char">O</td>
              </tr>
              <tr>
                <td>&#x2022;&#x2022;&#x2022;&#x2022;X</td>
                <td class="char">E</td>
                <td>&#x2022;X&#x2022;&#x2022;X</td>
                <td class="char">D</td>
                <td>X&#x2022;&#x2022;&#x2022;X</td>
                <td class="char">Z</td>
                <td>XX&#x2022;&#x2022;X</td>
                <td class="char">B</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;&#x2022;X&#x2022;</td>
                <td class="char">4</td>
                <td>&#x2022;X&#x2022;X&#x2022;</td>
                <td class="char">R</td>
                <td>X&#x2022;&#x2022;X&#x2022;</td>
                <td class="char">L</td>
                <td>XX&#x2022;X&#x2022;</td>
                <td class="char">G</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;&#x2022;XX</td>
                <td class="char">A</td>
                <td>&#x2022;X&#x2022;XX</td>
                <td class="char">J</td>
                <td>X&#x2022;&#x2022;XX</td>
                <td class="char">W</td>
                <td>XX&#x2022;XX</td>
                <td class="char">+</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;X&#x2022;&#x2022;</td>
                <td class="char">9</td>
                <td>&#x2022;XX&#x2022;&#x2022;</td>
                <td class="char">N</td>
                <td>X&#x2022;X&#x2022;&#x2022;</td>
                <td class="char">H</td>
                <td>XXX&#x2022;&#x2022;</td>
                <td class="char">M</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;X&#x2022;X</td>
                <td class="char">S</td>
                <td>&#x2022;XX&#x2022;X</td>
                <td class="char">F</td>
                <td>X&#x2022;X&#x2022;X</td>
                <td class="char">Y</td>
                <td>XXX&#x2022;X</td>
                <td class="char">X</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;XX&#x2022;</td>
                <td class="char">I</td>
                <td>&#x2022;XXX&#x2022;</td>
                <td class="char">C</td>
                <td>X&#x2022;XX&#x2022;</td>
                <td class="char">P</td>
                <td>XXXX&#x2022;</td>
                <td class="char">V</td>
               </tr>
               <tr>
                <td>&#x2022;&#x2022;XXX</td>
                <td class="char">U</td>
                <td>&#x2022;XXXX</td>
                <td class="char">K</td>
                <td>X&#x2022;XXX</td>
                <td class="char">Q</td>
                <td>XXXXX</td>
                <td class="char">8</td>
               </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <table class="table table-condensed controlchars">
            <thead>
              <tr>
                <th colspan="3">Substitutions</th>
              </tr>
              <tr>
                <th>Code</th>
                <th>Original</th>
                <th>Replacement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="code">&#x2022;&#x2022;X&#x2022;&#x2022;</td>
                <td>Space</td>
                <td class="replacement">9</td>
              </tr>
              <tr>
                <td class="code">&#x2022;X&#x2022;&#x2022;&#x2022;</td>
                <td class="name">Carriage return</td>
                <td class="replacement">3</td>
              </tr>
              <tr>
                <td class="code">&#x2022;&#x2022;&#x2022;X&#x2022;</td>
                <td class="name">Line feed</td>
                <td class="replacement">4</td>
              </tr>
              <tr>
                <td class="code">XXXXX</td>
                <td class="name">Shift to letters</td>
                <td class="replacement">8</td>
              </tr>
              <tr>
                <td class="code">XX&#x2022;XX</td>
                <td class="name">Shift to numbers</td>
                <td class="replacement">+</td>
              </tr>
              <tr>
                <td class="code">&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;</td>
                <td class="name">Null</td>
                <td class="replacement">/</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>The characters of the ciphertext and partial key streams have no meaning &#8212; they are just a sequence of bits. We can therefore ignore the alternate &#8220;figure&#8221; character mappings (see the section on &#8220;International Telegraph Alphabet No. 2&#8221; below). We can also substitute more convenient symbols for the various control commands, and space and null characters, just as they did at Bletchley Park.</p>
        </div>
      </div>

    </div>

    include "includes/documentation.html"

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>